<%- include('partials/header') %>

<div class="container">
  <h1>Error</h1>
  <div class="alert error">
    <%= error %>
  </div>
  <p>
    <a href="/" class="button primary-button">Back to Home</a>
  </p>
</div>

<%- include('partials/footer') %>